<div class="form">
  <h1>Login</h1>
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <div class = "field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class = "field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class = "submit_150">
      <div class="labelspacer"></div>
      <%= f.submit "Login" %>
    </div>
  <% end %>
  <span>New user? </span><%= link_to "Sign up now", signup_path %>
</div>

